<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBOfk3gjCfDVPRM2enhWZIJkgIWmARpMs</string>
	<key>GCM_SENDER_ID</key>
	<string>454378843421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synergy.hrms</string>
	<key>PROJECT_ID</key>
	<string>hrms-b4a0d</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-b4a0d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454378843421:ios:7dde2c5d10971fa22845f4</string>
</dict>
</plist>